/* styles.css */

.documentation-link {
    color: #1C17FF;
    text-decoration: none
}

.documentation-link:hover {
    color: #000000; /* Black color when hovering */
}

.custom-button {
    display: inline-block;
    padding: 2px 8px;
    background-color: #f1f1f1; 
    color: #333; /* Text color */
    border: 1px solid #aaa; /* Border color */
    border-radius: 25px; /* Rounded borders */
    text-align: center;
    user-select: none; 
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  /* Change the button color on hover (make it unclickable) */
  .custom-button:hover {
    background-color: #1C17FF; 
    color: #f1f1f1; 
  }